<div class="forgot-password">
    <section>
      <h1>Forgot Password?</h1>
  
      <div class="text-center mar-ver">
        <p class="help-block ng-binding"></p>
      </div>
  
      <p>We'll send you an email so that you can reset the password.</p>
  
      <form name="forgotPasswordForm">
        <div class="form-group">
          <label class="control-label" for="email">Email</label>
          <input id="email" type="email" placeholder="timothy.smith@company.com" class="form-control" name="email" required="" autofocus="">
        </div>
  
        <div vc-recaptcha=""><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Ld8O1wUAAAAAF2o1Ou044MfY91Oxy8Gzs1dcUH7&amp;co=aHR0cHM6Ly9hcHAuY2hhcnRtZXRyaWMuY29tOjQ0Mw..&amp;hl=en&amp;v=HYx6hBAtwYatsD8qzq7tXNTk&amp;size=normal&amp;cb=pntfnf8voj34" role="presentation" name="a-xwlxa3lm6hde" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" width="304" height="78" frameborder="0"></iframe></div><textarea id="g-recaptcha-response-1" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
  
        <div class="form-group">
          <button type="submit" class="btn btn-blue btn-block btn-lg">
            Submit
          </button>
        </div>
      </form>
  
      <small class="bottom-text">
        <a [routerLink]="[ '/login' ]">Go Back</a>
      </small>
    </section>
  </div>