.btn{cursor:pointer;background-color:transparent;color:inherit;padding:6px 12px;border-radius:3px;border:1px solid transparent;line-height:1.475;vertical-align:middle;transition:all .25s;text-decoration:none;text-align:center}
.btn{border-radius:0}
.btn-icon.btn-lg,.btn-lg{font-size:17px;line-height:1.44}
.btn-group-lg>.btn,.btn-icon.btn-lg,.btn-lg{padding:10px 16px}
.btnsSec .btn{width:100%;display:block}
.forgot-password{align-items:center;color:rgba(17,32,46,.65);display:flex;height:100%;min-height:100vh;min-width:100vw;position:relative;width:100%}
.forgot-password:after{background:#11202e;bottom:0;content:"";height:100%;left:0;opacity:.9;position:absolute;right:0;top:0;width:100%}
.forgot-password section{background:#e6e8e9;border-radius:4px;margin:30px auto 5px;max-width:530px;min-width:490px;padding:50px 35px 40px;position:relative;z-index:2}
.forgot-password section:before{box-shadow:0 3px 6px 0 rgba(0,0,0,.05);background:no-repeat 50%/37.5px #fff url(../../assets/images/CM_Gradient_Logo.svg);border-radius:50%;content:"";height:50px;left:50%;position:absolute;top:0;transform:translate(-50%,-50%);width:50px}
.forgot-password .loader-overlay{align-items:center;background:#000;bottom:0;display:flex;height:100%;justify-content:center;left:0;opacity:.5;position:absolute;right:0;top:0;width:100%;z-index:3}
.forgot-password h1{font-size:22px;margin:0 0 25px;padding-bottom:20px;position:relative;text-align:center}
.forgot-password h1:after{background:linear-gradient(99deg,#01da79,#0b9de3);bottom:0;content:"";height:2px;left:50%;max-width:100%;position:absolute;transform:translateX(-50%);width:100px}
.forgot-password label{color:rgba(17,32,46,.65);font-size:12px;font-weight:400;margin:1px 0;padding-left:12px;width:100%}
.forgot-password input{border:1px solid #cbcbcb;border-radius:4px;font-size:16px;margin:0;padding-left:12px;transition:none;width:100%}
.forgot-password input:focus{border-color:#476c8e;box-shadow:inset 0 0 0 .5px #476c8e}
.forgot-password .has-error .form-control{background-color:rgba(204,95,88,.15);border:1px solid #cc5f58}
.forgot-password .has-error .form-control:focus{box-shadow:inset 0 0 0 .5px #cc5f58!important}
.forgot-password .help-block{color:#cc5f58;font-size:12px;font-weight:500;margin:0}
.forgot-password .form-group{margin-bottom:0}
.forgot-password .btn-blue{background-color:#476c8e;color:#e6e8e9;font-size:14px;font-weight:500}
.forgot-password .btn-blue:disabled{background-color:#9c9ea0}
.forgot-password .btn-frames{background-color:tracnsparent;border:1px solid rgba(17,32,46,.37);color:#11202e;font-size:14px;font-weight:500}
.forgot-password .btn-frames:disabled{background-color:#9c9ea0}
.forgot-password .bottom-text{color:rgba(17,32,46,.75);display:block;font-size:12px;font-weight:500;margin-top:35px;text-align:center;width:100%}
.forgot-password .bottom-text a{color:inherit;text-decoration:underline}
.forgot-password .bottom-text a:focus,.forgot-password .bottom-text a:hover{color:inherit}
@media (max-width:580px){
.forgot-password section{min-width:0}
}
.forgot-password{background:50%/cover no-repeat url(../../assets/images/signup-bg.jpg)}
.forgot-password form[name=forgotPasswordForm]{display:grid;grid-template-areas:"." "." ".";row-gap:20px}
